*{

}

body {
  font-family:'Times New   Roman', Times, serif;
  font-size: large;
  color: white;
  background-color: rgb(89, 90, 92);
}

.weather-search{
  /* margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px; */
  background-color: lightgray;
}
.weather-search{

}
.search-button{
  
}

#search-form {
  margin: 0 auto;
}
#list-group{

}
#search-input {
border-radius: 20px;
background-color: lightblue;
}

aside {
}

#search-form {
  border-radius: 10px; 
}

@media (min-width: 576px) {
}

.input-group {
  margin-bottom: 1rem; /* Optional: Add some spacing between input group elements */
}

.input-group-append {
  margin-top: 1rem; /* Optional: Add some spacing between input group elements */
}

/* Adjust button and input size for mobile */
@media (max-width: 575.98px) {
  .input-group-append {
      margin-top: 0;
  }

  .search-button {
      margin-top: 0.5rem;
  }

  .weather-hr {
      display: none; /* Hide horizontal rule for mobile */
  }

  #forecast{
  
    margin-left: 0;
  }
}

